/* body{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.ant-table-bordered .ant-table-cell {
  border: 1px solid rgba(0, 0, 0, 0.301); 
}

.ant-table-bordered .ant-table-container {
  border: 1px solid rgba(0, 0, 0, 0.301);
}
