.ant-table-bordered .ant-table-cell {
  border: 1px solid rgba(0, 0, 0, 0.301);
}

.ant-table-bordered .ant-table-container {
  border: 1px solid rgba(0, 0, 0, 0.301);
}

.portfolio-block {
  color: rgb(0 0 0 / 69%);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.portfolio-block:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 4px;
  padding: 0px 8px;
}

.ant-table-cell {
  padding: 0px 8px !important;
}

.ant-btn {
  background-color: rgb(58 25 39 / 83%);
}

.ant-pagination-item {
  border-color: rgb(58 25 39 / 83%);
  color: #333;
}
.ant-pagination-item-active {
  border-color: rgb(58 25 39 / 83%) !important;
}
.ant-pagination-item-active a {
  color: rgb(58 25 39 / 83%) !important;
}
.ant-pagination-item:hover {
  border-color: rgb(58 25 39 / 83%);
}
.ant-pagination-item:hover a {
  color: rgb(58 25 39 / 83%);
}

.ant-table-tbody > tr.clickable-row > td {
  transition: background-color 0.2s ease;
}

.ant-table-tbody > tr.clickable-row:hover > td {
  background-color: rgba(58, 25, 39, 0.308) !important;
  cursor: pointer;
}

.ant-table-tbody > tr.clickable-row:active > td {
  background-color: rgb(58, 25, 39, 0.308) !important;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgb(58 25 39 / 83%);
  padding: 0 20px;
}

.header-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-page-content {
  margin-top: 64px;
  padding: 20px;
  width: 100%;
}
